*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

body{
    background-color: #f8f9fd;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    width: 100vw;
    overflow: hidden;
}
.container{
    border-radius: 5px;
    box-shadow: 3px 3px 10px hsla(0, 0%, 0%, 0.2);
    overflow: hidden;
    width: 100%;
    min-width: 330px;
    height: 100%;
}

/* =====NAV===== */


.logo{
    width: 3rem;
}
.logocont{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin: 0;
    font-size: 1.5rem;
    color: black;
    font-weight: 1;
}
.title>b{
    font-weight:800;
}
.title2{
    color: black;
}
.header{
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    padding-top: 3px;
    display: flex;
    width: 100%;
    height: 0%;
    min-height: 200px;
    min-width: 330px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#logoKosher{
    cursor: pointer;
    width: 50px;
    position: absolute;
    right: 10px;
}
.search-cont{
    width: 100%;
    height: 40%;
    margin-top: auto;
}
.search{
    font-family: sans-serif;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 0;
}
.input-cont{
    position: relative;
    width: 250px;
}
.searchbtn{
    position: absolute;
    right: 10px;
    top: 6px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.search>p{
    font-size: .8rem;
    opacity: .8;
}
#categories{
    list-style: none;
    z-index: 3000;
    display: flex;
    height: 150px;
    width: 100%;
    min-width: 320px;
    background-color: #272323de;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.categoria_li{ 
    display: flex;
    height: 60%;
    flex: 2;
    margin: 5px;
    justify-content: center;
    align-items: center;
    color: white;
}
#categoriaTodas{
    background-color: hsl(118, 30%, 42%);
    height: 60%;
    flex: 1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#categories_btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    font-family: sans-serif;
    border-radius: 0 0 10px 10px;
    color: rgb(44, 44, 44);
}
.searchWords{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: .8rem;
    background-color: #eee;
    padding: 5px;
    font-family: sans-serif;
}
.searchWords>li{
    margin-left: 10px;
    margin-top: 10px;
    margin:auto;
    background-color: #3674f8;
    color: white;
    text-align: center;
    min-width: 40px;
    list-style: none;
    padding: 8px;
    border-radius: 10px;
}
.searchWords>b{
    margin-bottom: auto;
    margin-top: auto;
    margin-right: auto;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    outline: 2px solid black;
    background-color: #fff;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}
.searchWords>b:hover{
    cursor:pointer;
}
.onTop{
    
    z-index: 1000;
    box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.1);
}
.subtitle{
    
    font-size: .8rem;
    border-radius: 30px 30px 0 0;
    width: 10rem;
    height: 40px;
    padding: 5px;
    padding-top:10px ;
    text-align: center;
    position: absolute;
    top: -35px;
}
.search.ingredients, .subtitle.ingredients{
    background-color: #3674f8;
}

.search.name, .subtitle.name{
    background-color: hsl(261, 93%, 59%);
}
.subtitle.ingredients{
    
    left: 0;
}
.subtitle.name{
    
    right: 0;    
}
.subtitle:hover{
    cursor: pointer;
}

.input {
    margin-top: auto;  
    background-color: hsla(0, 0%, 0%, 0.3);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
}

/* =====RECETARIO===== */

.recetario-cont{
    height: 100vh;
    width: 100%;
    background-color: #272323de;
    position: fixed;
    left: 0;
    width: 500px;
    max-width: 100vw;
    top: -100vh;
    z-index:8000;
    transition: transform .4s ease;

}
.tituloRecetario{
    position: sticky;
    top: 25px;
    background-color: #36393d
    
}
.recetario{
    position: absolute;
    color: white;
    background-color: #272323de;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    left:0px;
    bottom: -60px;
    margin:auto;

}

.recetario:hover{
    cursor: pointer;
}
#recetasGuardadas{
    position: relative;
    width: 100%;
    height: 85%;
    top: 60px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    overflow: auto;
}
#recetasGuardadas>p{
    margin: auto;
}
#recetasGuardadas>div{
    width: 100%;
    margin-bottom: 30px;
}
#recetasGuardadas>li{
    width: 200px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
    list-style-type: none;
}
#recetasGuardadas>li:hover{
    cursor: pointer;
    border-right: 2px solid rgb(255, 255, 255) ;
    border-left: 2px solid rgb(255, 255, 255) ;
}
.recetarioImg{
    border-radius: 30%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    
}
.recetario-cont.active{
    transform: translateY(90vh);
}

/* =====RECIPES===== */


/* recipe description */
h5{
    font-weight: 10;
}

h3.categoria{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 6px;
    font-size: .9rem;
    font-family: sans-serif;
    border-radius: 30px;
    color: white;
    opacity: .8;
}

.entradas{
    background-color: hsl(41, 98%, 56%);
}

.principal{
    background-color: hsl(41, 98%, 26%);
}

.sopas{
    background-color: hsl(216, 30%, 42%);
}

.reposteria{
    background-color: hsl(318, 30%, 42%);
}

.recipe-list{
    position: relative;
    background-color: white;
    list-style-type: none;
    margin: 0;
    max-height: 65%;
    min-height: 65%;
    overflow-y: auto;
    padding: 0;
}
.recipe-list>li{
    position: relative;
    display: flex;
    padding: 20px;
}
.recipe-list>li.hidden{
    display: none;
}
.recipe-list>li.visible{
    display: flex;
}

.recipe-list>li:hover{
    background-color: #eef;
    cursor: pointer;
}

.recipe-list img{
    border-radius: 50%;
    object-fit: cover;
    min-width: 100px;
    min-height: 100px;
    width: 50px;
    height: 50px;
}

.recipe-list .recipe-info{
    margin-left: 10px;
}

.recipe-list .recipe-info h4{
    margin: 0 0 10px;
}
.recipe-list>:last-of-type{
    margin-bottom: 100px;
}
.recipe-list li:not(:last-of-type){
    border-bottom: 1px solid #eee;
}

/* =====MODAL===== */

#modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.3);
    z-index: 9000;
    display: flex;
    visibility: hidden;
}
.modal-cont{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 70%;
    min-width: 360px;
    background-color: white;
    margin: auto;
}

.descripcion{
    display: flex;
    min-width: 320px;
    padding: 20px;
}
.descripcion img{
    margin-right: 20px;
    object-fit: cover;
    min-width: 150px;
    min-height: 150px;
    width: 50px;
    height: 50px;
}
.descripcion p {
    outline: 1px solid #bbb3b3;
    min-width: 150px;
}
h5.categoria{
    color: white;
    text-align: center;
}
.favoriteheart{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #bbb3b3;
    height: 20px;
    font-size: 20px;
    transition: all .3s ease;
}
.favoriteheart:hover{
    cursor: pointer;
    font-size: 30px;
}
.favoriteheart:active{
    transform: rotate(15deg)
}
.favoriteheart.favorite{
    color: rgba(255, 0, 0, 0.782);
}
.receta-cont{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background-color: #f2f7fa;
    height: 100%;
    overflow: auto;
}
.receta-cont>.ingredientes{
    width: 30%;
    color: #0af;
    padding: 10px;
    border-right: 2px solid #0af;
    margin-left: 30px;
}
.receta-cont>.receta{
    width: 65%;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 330px;
}
.receta>li{
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}


#modal.visible{
    visibility: visible;
}

/* =====MODAL KOSHER====== */

#modal-kosher{
    position: fixed;
    top: 0;
    z-index: 5000;
    height: 100vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.3);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#modal-kosher.visible{
    display: flex;
}
#modal-kosher>.info{
    padding: 10px;
    padding-left: 15px;
    background-color: white;
    max-width: 700px;
    max-height: 100vh;
    min-width: 330px;
}
#modal-kosher>.info>h2{
 font-size: 1rem;
 text-align: center;
}
#modal-kosher>.info>h3{
    font-size: 1rem;
}
#modal-kosher>.info>p{
font-size: .8rem;
}
#modal-kosher>.info>ul{
    font-size: .8rem;
}
#modal-kosher>.info>ol{
    font-size: .8rem;
}
#modal-kosher>.fotos{
    padding: 20px;
    display: flex;
    background-color: white;
    width: 100%;
    max-width: 700px;
    min-width: 330px;
}
#modal-kosher>.fotos>img{
    margin: auto;
    width: 300px;
}


/* =====LOADING====== */

#loading-cont{
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 200px;
    height: 200px;
    position: relative;

}

#loading-ball1{
    width: 80px;
    height: 80px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    margin: auto;
    border-radius: 100%;
    position: relative;
    z-index: 80;
    display: flex;    
}

#loading-ball2{
    width: 20px;
    height: 20px;
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    border-radius: 100%;
    position: absolute;
    z-index:50;
    left: 150px;
    top: 120px;
}
footer{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    background-color: white;
}
footer>p{
    text-align: center;
    margin: auto;
    font-size: .7rem;
}


/* para pantallas grandes */

@media (min-width: 1000px) {
    .header{
        min-height: 160px;
    }
    .recipe-list{
        display: flex;
        flex-wrap: wrap;
    }
    .recipe-list>li{
        margin: auto;
        width: 300px;
        height: 400px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .recipe-list li:not(:last-of-type){
        border: none;
    }
    .recipe-list img{
        border-radius: 20%;
        min-width: 180px;
        min-height: 180px;
        margin-bottom: 20px;
    }
    h3.categoria{
        right: 25%;
        top: 20px;
    }
    .subtitle.ingredients{
        left: 200px;
        width: 300px;
    }
    .subtitle.name{
        right: 200px;  
        width: 300px;  
    }
    .modal-cont{
        width: 60%;

    }
    footer>p{
        font-size: .9rem;
    }
    h3.categoria{
        opacity: 1;
    }
  }
